# Pandas

We have seen Numpy in the last section. It is good at performing math operations on 2d-arrays of numbers. But the major drawback is, it cannot deal with heterogeneous values. So, Pandas dataframes are helpful in that aspect for storing different data types and referring to the values like a dict in python instead of just referring to each item with index.

[Link to Official Documentation](http://pandas.pydata.org/pandas-docs/version/0.23/dsintro.html)

## Series

Pandas series are almost the same as nd arrays in numpy, with an additional inferencing ability with custom labels like *keys* in a *dictionary* in python.

In [1]:
import numpy as np
import pandas as pd

In [2]:
#Example

series1 = pd.Series(data = [1,2,3], index = ['key1', 'key2', 'key3'])
series1

key1    1
key2    2
key3    3
dtype: int64

### Question 1

Create a dictionary with 3 key value pairs and convert it to series.

[**Hint:** Use **.Series**]

You can directly use numpy functions on series.
### Question 2

Find the dot product of both the series 1st used in example and 2nd you created

[ **Hint:** Use **np.dot()** ]

## Dataframes

A dataframe is a table with labeled columns which can hold different types of data in each column.

In [3]:
# Example
d1 = {'a': [1,2,3], 'b': [3,4,5], 'c':[6,7,8] }
df1 = pd.DataFrame(d1)
df1

   a  b  c
0  1  3  6
1  2  4  7
2  3  5  8

### Question 3

Select second row in the above dataframe df1.

### Question 4

Select column c in second row of df1.

[ **Hint:** For using labels use **df.loc[row, column]**. For using numeric indexes use **df.iloc[]**. ]

## Using Dataframes on a dataset

##### Using the mtcars dataset.

For the below set of questions, we will be using the cars data from [Motor Trend Car Road Tests](http://stat.ethz.ch/R-manual/R-devel/library/datasets/html/mtcars.html)

The data was extracted from the 1974 Motor Trend US magazine, and comprises fuel consumption and 10 aspects of automobile design and performance for 32 automobiles (1973â€“74 models). 


Details :
    
A data frame with 32 observations on 11 (numeric) variables.

[, 1] 	mpg 	Miles/(US) gallon

[, 2] 	cyl 	Number of cylinders

[, 3] 	disp 	Displacement (cu.in.)

[, 4] 	hp 	Gross horsepower

[, 5] 	drat 	Rear axle ratio

[, 6] 	wt 	Weight (1000 lbs)

[, 7] 	qsec 	1/4 mile time

[, 8] 	vs 	Engine (0 = V-shaped, 1 = straight)

[, 9] 	am 	Transmission (0 = automatic, 1 = manual)

[,10] 	gear 	Number of forward gears

[,11] 	carb 	Number of carburetors

In [4]:
## Reading a dataset from a csv file using pandas.
mtcars = pd.read_csv('mtcars.csv')
mtcars.index = mtcars['name']

Following questions are based on analysing a particular dataset using pandas dataframes.

### Question 5

Check the type and dimensions of the given dataset (mtcars).


[ **Hint:** Use **type()** and **df.shape** ]

### Question 6

Check the first 10 lines and last 10 lines of the given dataset (mtcars).

[ **Hint:** Use **.head()** and **.tail()** ]

### Question 7

Print all the column labels in the given dataset (mtcars).

### Question 8

Select first 6 rows and 3 columns in mtcars dataset.

[ **Hint:** **mtcars.iloc[ : , : ]** gives all rows and columns in the dataset ]

### Question 9

Select rows from name **Mazda RX4** to **Valiant** in the mtcars dataset and display only mpg and cyl values of those cars. 

[ **Hint:** Use **iloc or loc** ].

### Question 10

Sort the dataframe by mpg (i.e. miles/gallon):

[ **Hint**: **inplace = True** will make changes to the data ]

### Question 11

Print the mean displacement and horsepower of the cars grouped by the number of cylinders.

### Question 12

Create a new column in the dataframe whose value will be 1 if the car is of Toyota company and 0 otherwise.

### Question 13

Define a function that will multiply all values in a column by 4, and apply it to the qsec column.